nav img{
  margin:0 1em;
  max-width: 150px;
}

#salir{
  letter-spacing: 1px;
  background-color: #9193e6;
  color: #fff;
  font-size: 1.1rem;
  font-weight: bolder;
  padding: 10px 12px;
  border-radius: 10px;
  position: absolute;
  right: 50px;
}

.greeting{
  border-radius: 15px;
  margin: 0 50px;
}